@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  width: 100%;
  background-image: url("./marioGifs/retro.webp");
  background-size: cover;
}

.mainGame {
   width: 70%;
  height: 600px;
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
  padding: 0;
  overflow: hidden;
  border-radius: 20px;
  border: 7px solid black;
 
}

.menuGame {
  width: 100%;
  height: 600px;
  background-image: url(./marioGifs/bgMenu.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameOverDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.points {
  margin-top: 20px;
  left: 30px;
  display: flex;
  position: absolute;
 
}


#pointsVar {
  margin-top: 8px;
  display: flex;
  margin-left: 10px;

}


#moeda{
  width: 50px;
}

#jsLogo{
  width: 140px;
  position: absolute;
  margin-top: 100px;
  /* right: 420px; */

}

#btnStart {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 400px;
}

#resetBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 800px;
  position: absolute; 
  display: none;
}

#resetBtn:active {
  transform: translateY(5px);
}

#btnStart:active {
  transform: translateY(5px);
}

#logo {
  position: absolute;
  margin-bottom: 300px;
  width: 900px;
}

.game_screen {
  width: 100%;
  display: none;
}

#divbg {
  width: 100%;
  height: 600px;
}

#backgroundGame {
width: 100%;  
height: 580px;  
}



.tubo {
  position: absolute;
  bottom: 15px;
  width: 90px;
  animation: tubo_animation 2s infinite linear;
  /* left: 270px; */
  /* margin-left: 270px; */
}

@keyframes tubo_animation {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}

.mario {
  position: absolute;
  bottom: 15px;
  width: 180px;
  left: 130px;
}

.jump {
  animation: jump 600ms ease-out;
}

@keyframes jump {
  0% {
    bottom: 15;
  }
  40% {
    bottom: 200px;
  }
  50% {
    bottom: 200px;
  }
  60% {
    bottom: 200px;
  }

  70% {
    bottom: 160px;
    /* }
  80% {
    bottom: 60px;
  }
  90% {
    bottom: 30px; */
  }
  100% {
    bottom: 15;
  }
}

.chao {
  background-color: rgb(1, 168, 1);
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0px;
  border-top: 5px solid black;
}

.cloud {
  margin-top: 10px;
  position: absolute;
  width: 500px;
  height: 300px;
  animation: clouds-animation 10s infinite linear;
}

.gameOver{
  margin-top: 350px;
  position: absolute;
 
  width: 500px;
  height: 300px;
  display: none;
}

@keyframes clouds-animation {
  from {
    right: -600px;
  }

  to {
    right: 100%;
  }
}
